html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEF00;
}

header {
    margin: 2em auto 0 auto;
    padding: 1px 0 0 0;
    width: 50%;
    height: 125px;
    background-color: black;
    text-align: center;
    vertical-align:middle;
}

h1 {
    font-size: 3.5em;
    color: #FFEF00;
    font-family: Russo One;

}