html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEF00;
}

header {
    margin: 2em auto 0 auto;
    padding: 1px 0 0 0;
    width: 50%;
    height: 125px;
    background-color: black;
    text-align: center;
    vertical-align:middle;
}

h1 {
    font-size: 3.5em;
    color: #FFEF00;
    font-family: Russo One;
    margin: 28px 0;
}


/*Progress Section*/

.progress {
    margin: 0px auto;
    padding: 0;
    display: block;
    width: 50%;
    height: 30px;
    font-size: 1em;
    font-family: Raleway;
    vertical-align: middle;
    display: none;
    opacity: 0;
}

.sound-number {
    margin: 5px 0 0 0;
    float: left;
    height: 30px;
}

.score {
    margin: 5px 0 0 0;
    float: right;
    height: 30px;
}


/*Audio Section*/

.audio-section {
    margin: 0 auto;
    width: 50%;
    height: 66px;
    background-color: black;
    display: none;
}

audio {
    margin: 20px auto;
    width: 100%;
    height: 25px;
    background-color: black;
}

/*Start Section*/

.start {
    margin: 90px auto;
    text-align: center;
}

.start-btn {
    margin: 0 auto;
    padding: 0;
    width: 20%;
    height: 100px;
    border: 4px solid black;
    background: rgb(54, 25, 25); 
    background: rgba(54, 25, 25, .4);
    font-family: Raleway;
    font-size: 2em;
}

.start-btn:hover {
    background-color: black;
    color: #FFEF00;
    transition: background-color 0.75s, color 0.75s;
    cursor: pointer;
}

h3 {
    margin: 28px;
    vertical-align: middle;
}

/*Answers Section*/

.answers {
    margin: 30px auto;
    width: 50%;
    height: 300px;
    display: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    padding: 0;
}

.row {
    margin: 0 auto;
    width: 100%;
    height: 150px;
    display: block;
    /*border: 1px solid green;*/
    text-align: center;
}

.answer-box {
    margin: 0px;
    width: 47%;
    height: 100px;
    display: inline-block;
    border: 4px solid black;
    background: rgb(54, 25, 25); 
    background: rgba(54, 25, 25, .4); 
}

.left {
    float: left;
}

.right { 
    float: right;
}

.answer-box p {
    margin: 30px auto;
    vertical-align: middle;
    font-size: 2em;
    font-family: Raleway;
}


/*Footer Section*/

footer {
    width: 100%;
}

footer img {
    width: 100%;
    opacity: 0.4;
    position: absolute;
    top: 620px;
    left: 0;
}

